
tishby_plots/test.py
tishby_plots/.idea/workspace.xml
tishby_plots/.idea/inspectionProfiles/profiles_settings.xml
tishby_plots/.idea/misc.xml
tishby_plots/.idea/modules.xml
tishby_plots/.idea/tishby_plots.iml
tishby_plots/.idea/vcs.xml
tishby_plots/.idea/inspectionProfiles/profiles_settings.xml
MI_datasets/.idea/other.xml
MI_datasets/.idea/inspectionProfiles/profiles_settings.xml
MI_datasets/.idea/MI_datasets.iml
MI_datasets/.idea/misc.xml
MI_datasets/.idea/modules.xml
test_mixture.py
MI_datasets/test2.py
test_mixture.py
*.iml
*.xml
*.xml
*.pyc
MINE/test.py
MI_datasets/MINE.py
MI_datasets/__init__.py
saved/mis.pkl
test_mixture.py
*.iml
*.xml
MINE/__init__.py
MINE/test.py
test_mixture.py
*.iml
*.xml
MINE/test.py
__init__.py
dogs-vs-cats/sampleSubmission.csv
*.jpg
dogs-vs-cats/test1.zip
dogs-vs-cats/train.zip
measure_tishby_for_colab.ipynb
paper code/IDNNs-master/jobs/net_sampleLen=1_nDistSmpls=1_layerSizes=10,7,5,4,3_nEpoch=10_batch=512_nRepeats=1_nEpochInds=9_LastEpochsInds=8_DataName=var_u_lr=0.0004/examine data.ipynb
*.npy
scratch.py
unnamed_plot.png
